# EDA：欄位的資料類型介紹及處理 - 作業程式碼

本次作業需要完成兩個部分：
- Part1. 請按照下方程式碼提示，建立出 Series 與 DataFrame
- Part2. 請上「政府資料開放平臺」，找到感興趣的資料集（限定檔案格式要 CSV 檔或是 Excel 檔），並匯入至 Python，進一步使用 .loc、.iloc 挑選出特定的資料

政府資料開放平臺：https://data.gov.tw/

In [1]:
import numpy as np
import pandas as pd

## Part1. 請按照下方程式碼提示，建立出 Series 與 DataFrame

In [4]:
a_list = [53, 12, 50, 39, 28, 59]

""" 請使用 a_list 建立 Series """
pd.Series(a_list)

0    53
1    12
2    50
3    39
4    28
5    59
dtype: int64

In [5]:
a_2D_list = [[14, 23, 36],
             [41, 51, 64],
             [77, 83, 93]]
column_name_list = ["Column_A", "Column_B", "Column_C"]
index_list = ["Andy", "Tom", "Amy"]

""" 請使用 a_2D_list 建立 DataFrame，並分別使用 index_list、column_name_list 定義 Index 與 Column Name"""
pd.DataFrame(a_2D_list, columns=column_name_list, index=index_list)

      Column_A  Column_B  Column_C
Andy        14        23        36
Tom         41        51        64
Amy         77        83        93

## Part2. 請上「政府資料開放平臺」，找到感興趣的資料集（限定檔案格式要 CSV 檔或是 Excel 檔），並匯入至 Python，進一步使用 .loc、.iloc 挑選出特定的資料

In [6]:
""" 請匯入 CSV 檔案或是 Excel 檔案 """
df = pd.read_csv("COA_OpenData.csv")
df.head(3)

,年度,期作,縣市,鄉鎮,作物代碼,作物,種植面積,收穫面積,稻穀總產量,稻穀單位產量,糙米總產量,糙米單位產量
0,113,一期作,彰化縣,田尾鄉,C01,稉稻,265.31,265.31,2177664,8208,1720355,6484
1,113,二期作,彰化縣,田尾鄉,C01,稉稻,257.18,257.18,1322420,5142,1031488,4011
2,113,一期作,彰化縣,二林鎮,C01,稉稻,2911.25,2911.25,21321995,7324,16919003,5812

In [9]:
df.dtypes

年度          int64
期作         object
縣市         object
鄉鎮         object
作物代碼       object
作物         object
種植面積      float64
收穫面積      float64
稻穀總產量       int64
稻穀單位產量      int64
糙米總產量       int64
糙米單位產量      int64
dtype: object

In [ ]:
""" 請使用 .loc 挑選出三組感興趣的資料，並詳細說明對哪三組資料感興趣"""
# index為 10, 20, 30 之作物與種植面積
df.loc[[10, 20, 30], ["作物", "種植面積"]]

     作物  種植面積
10  秈糯稻  30.0
20  稉糯稻   5.0
30  稉糯稻   6.2

In [15]:
""" 請使用 .iloc 挑選出三組感興趣的資料，並詳細說明對哪三組資料感興趣"""
# index 為50, 100, 150之縣市與稻穀總產量
df.iloc[[50, 100, 150], [2, 8]]

      縣市   稻穀總產量
50   彰化縣   47826
100  彰化縣   39450
150  嘉義縣  750800